.scorebar-main{
    width:1920px;
    height:1080px;
    position: absolute;
    top:0px;
    left:0px;
    font-family: eras-itc-bold;
    background-image: url("../img/mortise/in-game-centered-fixed.png");
    background-repeat: no-repeat;
}
.scorebar-main-frame{
    width:1920px;
    height:1080px;
    position: absolute;
    top:0px;
    left:0px;
    font-family: eras-itc-bold;
    background-image: url("../img/mortise/in-game-frame.png");
    background-repeat: no-repeat;
}
.scorebar-main-vertical{
    width:1080px;
    height:1920px;
    position: absolute;
    top:0px;
    left:0px;
    font-family: eras-itc-bold;
    background-image: url("../img/mortise/vertical-in-game.png");
    background-repeat: no-repeat;
}
/*Desktop Styles */
.round-name{
    position: absolute;
    left: 827px;
    top: 198px;
    width: 268px;
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
}
.round-name-frame{
    position: absolute;
    left: 59px;
    top: 268px;
    width: 360px;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}
.round-text{
    background-image: url(../img/quarterfinals.png);
    width: 100%;
    height: 100%;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.p1-name{
    position: absolute;
    left: 366px;
    top: 107px;
    width: 274px;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 24px;
    overflow: hidden;
    text-align: center;
    line-height: 54px;
}
.p1-record{
    position: absolute;
    left: 695px;
    top: 107px;
    width: 138px;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 30px;
    overflow: hidden;
    line-height: 54px;
    text-align: center;
    letter-spacing: 6px;
}

.p2-name{
    position: absolute;
    left: 1280px;
    top: 107px;
    width: 274px;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 24px;
    overflow: hidden;
    text-align: center;
    line-height: 54px;
}
.p2-record{
    position: absolute;
    left: 1087px;
    top: 107px;
    width: 138px;
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 30px;
    overflow: hidden;
    line-height: 54px;
    text-align: center;
    letter-spacing: 6px;
}
.p1-score{
    width: 52px;
    height: 60px;
    position: absolute;
    left: 642px;
    top: 104px;
    padding: 16px;
}
.p2-score{
    width: 52px;
    height: 60px;
    position: absolute;
    left: 1227px;
    top: 104px;
    padding: 16px;
}
